<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>장고 게시판</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<h1>장고로 게시판 만들어보는중...</h1><br><br>
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>번호</th>
        <th>작성자</th>
        <th>제목</th>
        <th>내용</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {% for list in postlist %}
        <tr>
            <td>{{list.pk}}</td>
            <td>{{list.writer}}</td>
            <td><a href = "{{list.pk}}">{{list.title}}</a></td>
            <td>{{list.contents}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="new_post/" class = "btn btn-primary">작성</a>
</body>
</html>